<div id="myFootter" class="footer">
    <div class="container py-4 ">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-8 ">
          
          <p class="text-center  text-white">Copy Right 2018 © By Daniels All Rights Reserved</p>
          <div class="groupicons d-flex justify-content-center align-items-center  text-center my-2 ">
             
            <div class="icons my-1 mx-1">
             <a> <i class="fa-brands fa-facebook-f " style="color: #ffffff;"></i></a>
              </div>
              <div class="icons my-1 mx-1">
                <a><i class="fa-brands fa-github" style="color: #fff;"></i></a>
              </div>
              <div class="icons my-1 mx-1">
                <a><i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
              </div>
              <div class="icons my-1 mx-1">
                <a><i class="fa-brands fa-behance" style="color: #fff;"></i></a>
            </div>
            <div class="icons my-1 mx-1">
              <a><i class="fa-brands fa-youtube " style="color: #fff;" ></i></a>
          </div>
            

        </div>
        
        </div>
      </div>
    </div>
    </div>
