<div id="myhome" class=" custom d-flex justify-content-center align-items-center text-white py-5">
    <div class="text-center">
      
      <div class="pt-5 pb-2">
        <img src="https://i.pinimg.com/564x/c4/f9/ad/c4f9ad483178d6834e62480e884d336c.jpg" alt="" class="mb-3 fa-xs rounded-circle">
        </div>
        <div>
            <h2 class="text-uppercase mb-4 fs-1 fw-bolder">Fatma Nasser</h2>
            <div  class="d-flex align-items-center justify-content-center mb-3">
              
            <p>Software Engineer - Web Develober </p>
        </div>
    </div>
    </div>
